*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
ol,ul,menu{
    list-style: none;
}
section{
    padding: 20px;
}
#app{
    
    height: 100vh;
}
.todo-sect{
    height: 100%;
  background-color: grey
}
.container{
    max-width: 900px;
    margin: 0 auto;
}
.todo-list__item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
    border: 2px solid rgba(0, 0, 0, 0.097);
    padding: 10px;
}
.todo-list{
    background-color: white;
    color: black;
}

.todo-list__item.done :first-child{
    text-decoration: line-through;
}